*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden
}
/* html {
    height: 100%;
  }

body {
    height: 100%;
    display: flex;
  } */

.container{

    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;

}




.left{
    /* justify-content:flex-start; */
    background-color:#fff;
    display: inline;
    place-items: center;
    text-align: center;
    position: relative;


}
.right{
    background-color: #F2F3F7;
    position: relative;
}

.preview{
    border:5px solid #707070;
    border-radius: 7px;
}

.content-left{
    position:absolute;
    top: 35%;
    left: 25%;
    margin: -25px 0 0 -25px; 

}

.content-right{
    position:absolute;
    top: 10%;
    left: 10%;
    margin: -25px 0 0 -25px; 

}

.center-icon{
    width: 10px;
    height:10px;
    background-image: url( '/img/links.svg' );
    position:absolute;
    top: 10%;
    left: 10%;
    margin: -25px 0 0 -25px; 
}



.custom-input{
    width: 500px;
    
    border: 2px solid #eee;
    background-color:#F2F3F7;
    padding: 20px 20px;
    font-size: 1rem;
    text-align: center;
  outline: transparent;
  border: none; /* <-- This thing here */
  border-radius: 7px;
}

.login-btn{
    color: white;
    padding:5px;
    background-color:#3D68C8;
    border-radius: 7px;
}



.register-btn {
  background-color: #50A1DB;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.register-btn:hover,
.register-btn:focus {
   background-color: #76BBEC; 
}


.login-btn {
    background-color: #3D68C8;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 100px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .login-btn:hover,
  .login-btn:focus {
     background-color: #507AD8; 
  }



